# parameters taken from https://dth01.ibmgcloud.net/confluence/display/ERP/UC-Admin-27+Create+Initial+or+Update+E-Rezept+ID_FD_AUT+Key+Pair, Step 7
# openssl req -out candidateAUT.csr -new -newkey ec -pkeyopt ec_paramgen_curve:brainpoolP256r1 -nodes -config AUTCert.csr.cnf -outform DER
[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
C = DE
L = Hamburg
O = IBM Deutschland GmbH TEST
OU = IBM ERP TEST
CN = erezept

[v3_req]
basicConstraints = CA:FALSE
subjectAltName = ERP.IBM.TEST
keyUsage = critical,digitalSignature
certificatePolicies = @gempol,1.2.276.0.76.4.155
subjectAltName = @alt_names
1.3.36.8.3.3 = ASN1:SEQUENCE:admission_syntax_erp_vau_sequence

[admission_syntax_erp_vau_sequence]
contentsOfAdmissions = SEQUENCE:admissions_stack_erp_vau_sequence

[admissions_stack_erp_vau_sequence]
admissions = SEQUENCE:admissions_erp_vau_sequence

[admissions_erp_vau_sequence]
professionInfos = SEQUENCE:profession_info_stack_erp_vau_sequence

[profession_info_stack_erp_vau_sequence]
professionInfos = SEQUENCE:profession_info_erp_vau_sequence

[profession_info_erp_vau_sequence]
professionItems = SEQUENCE:profession_item_stack_erp_vau_sequence
professionOids = SEQUENCE:profession_oid_stack_erp_vau_sequence

[profession_item_stack_erp_vau_sequence]
item1 = FORMAT:UTF8,UTF8:E-Rezept vertrauenswürdige Ausführungsumgebung

[profession_oid_stack_erp_vau_sequence]
oid1 = OID:1.2.276.0.76.4.258

[alt_names]
DNS.1 = ERP.IBM.TEST

[gempol]
policyIdentifier = 1.2.276.0.76.4.163
CPS.1="http://www.gematik.de/go/policies"
